.box {
    width: 200px;
    height: 200px;
}
#red, #blue, #orange {
    font-size: normal;
}
#red {
    color: red;
}
.red {
    background-color: red;
}

#blue{
    color: rgb(0, 140, 255);
}
.blue{
    background-color: rgb(0, 140, 255);
}

#orange{
    color: orange;
}
.orange{
    background-color: orange;
}